<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test">

<!--<test name='Signup_Newuser'> 
 <classes> 
 <class name="com.automation.animalbiome.Signup_Newuser"/> 
</classes>  
 </test>  
 
<test name='AddPet_Newuser'> 
 <classes> 
 <class name="com.automation.animalbiome.AddPet_NewUser"/> 
</classes>  
 </test> 
 
<test name='Signout_NewUser'> 
 <classes> 
 <class name="com.automation.animalbiome.Signout_NewUser"/> 
</classes>  
 </test> -->
 
 <test name='Signin_ExistingUser'> 
 <classes> 
 <class name="com.automation.animalbiome.Signin_Existing_User"/> 
</classes>  
 </test> 
 
<!--  <test name='ExtentReportsClass'> 
 <classes> 
 <class name="com.automation.animalbiome.ExtentReportsClass"/> 
</classes>  
 </test>-->
 
 
 
 
 
 
 
</suite> <!-- Suite -->
